<div class="navbar">
    <div class="grid flex">
        <div id="logo" class="col_1">
            <ul>
                <li>
                    <a routerLink=""> <img alt="Home" src="/app/Images/jsLogo.png" /></a>
                </li>
            </ul>
        </div>
        <div class="navLinks col_11">
            <ul>
                <li>
                    <a routerLink="projects">
                        <i class="fa fa-file" aria-hidden="true"> Projects</i>
                    </a>
                </li>
                 <li>
                    <a routerLink="about">
                        <i class="fa fa-info-circle" aria-hidden="true"> About</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>