#logo img{
   min-width: 45px !important;
   max-width: 45px;
   position: fixed;
   left: 5px;
   top: 5px;
}

ul{
    list-style-type: none;
}

.navLinks ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
    padding-left: 15px;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

a:link {
    text-decoration: none;
}

.navbar .grid.flex{
    padding-top: 0px;
}